*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
body {
  min-height: 100vh;
  background: #18181b;
  color: rgb(237, 237, 237);
}
a {
  color: white;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;
}

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

/* ----------------------------------------------------- */

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 200px;
  padding: 8px;
  margin-bottom: 16px;
  color: rgb(219, 224, 222);
  background-color: gray;
  outline: none;
  border: none;
  margin-inline: 15px;
  border-radius: 5px;
}

button {
  padding: 8px;
  cursor: pointer;
}
